* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


h1 {
    margin-top: 1em;
    text-align: center;
}

.addstore {
    text-align: left;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: green;
    border-radius: 10px;
    border: 1px solid rgb(11, 100, 11);
    display: block;
    padding: 7px;
    margin: 2em 4em;
}




