<h1>Welcome <%= user.name %> </h1>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.!</p>
<ul>
    <li>have fun</li>
    <li>meet new leading enterprenuer</li>
    <li>make new connection</li>
</ul>
<h4> <%= user.email %> </h4>

<a href="/dash/logout">Logout</a>
